{% extends 'base.html' %}

{% block content %}

<h1> {{ book.title }}</h1>
<img src="{{ book.image_url }}" width="400" alt="{{ book.title }} cover">
<h3>Genre: {{ book.genre }}</h3>
<h3>Price: {{ book.price }} EUR</h3>
<p>{{ book.description | capfirst | default:"No description available."}}</p>

{% if reviews %}
<h2>Reviews:</h2>
    {% for review in reviews %}
        <h4>{{ review.body }}</h4>
        <span>Posted by {{ review.author }} at {{ review.created_at }}</span>
        <a href="{% url 'reviews:review_details' pk=review.pk%}">Check review's details</a>
        
    {% endfor %}
{% else %}
<h2></h2>
{% endif %}

{% endblock %}
