<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book details</title>
</head>
<body>
    <h1> {{ book.title }}</h1>
    <img src="{{ book.image_url }}" width="400" alt="{{ book.title }} cover">
    <h3>Genre: {{ book.genre }}</h3>
    <h3>Price: {{ book.price }} EUR</h3>
    <p>{{ book.description | capfirst}}</p>

    {% if reviews %}
    <h2>Reviews:</h2>
        {% for review in reviews %}
            <h4>{{ review.body }}</h4>
            <span>Posted by {{ review.author }} at {{ review.created_at }}</span>
        {% endfor %}
    {% else %}
    <h2></h2>
    {% endif %}
</body>
</html>
