{% load markdown_extras %}
{% load current_time %}
{% load user_info %}
{% load get_recent_posts %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Posts</title>
    {% block custom_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'nav.html' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 p3">
                <p>
                    Last time refresh: {% current_time %}
                </p>
            </div>
            <div class="col-md-8 py-4">
                <div class="text-center">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-2 d-flex justify-content-end p-3">
                <div>
                    {% user_info %}
                </div>
            </div>
        </div>

    </div>
</body>
</html>