{% extends 'base.html' %}
{% load markdown_extras %}

{% block custom_css %}
    <style>
        body {
            background-color: aquamarine;
        }
    </style>
{% endblock %}

{% block content %}
    {{ block.super }}
<div class="posts">
        {% include 'search-form.html' %}
        {% for post in posts %}
            <a class="post-url" href="{% url 'details-post' pk=post.pk%}">
            <div class="post">
                {% if post.image %}
                    <img src="{{ post.image.url }}" width="200" height="480" class="img-fluid">
                {% endif %}
            <h2>{{ post.title |lower| capfirst }}</h2>
               </a>
                {% if post.description %}
                    <p>{{ post.description|markdown }}</p>
                {% else %}
                    <p>Nothing here...</p>
                {% endif %}
            <span> {{ post.author | default:'Someone' }} posted it at {{ post.created_at|date:'D-d.M.Y' }}</span>
            </div>
         
            {% empty %}
                <h2>No post to show ...</h2>
        {% endfor %}
</div>
 {% endblock %}