{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>{{ destination.name }}</h1>
    </div>
    <div class="card-body">
        <p class="card-text">Description: {{ destination.description }}</p>
        <p class="card-text">Country: {{ destination.country }}</p>
        <p class="card-text"><small class="text-muted">Created at: {{ destination.created_at }}</small></p>
    </div>
    <div class="card-footer">
        <a href="{% url 'review:list' %}" class="btn btn-primary">View reviews</a>
        <a href="{% url 'destination:list' %}" class="btn btn-secondary">Back to destinations</a>
    </div>
</div>
{% endblock %}